*{
  margin: 0;
  padding: 0;
  transition: color .1s, background-color .5s;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}
body{
  --primary-color:#4FC6CE;
  --accent-01:#DBDBDB;
  --accent-02:#98B1BA;
  --accent-03:#26333A;
  --accent-04:#1A2328;
  font-family: Calibri sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  background-color: var(--accent-04);
  color: var(--accent-01);
}

body.light{
  --primary-color:#2fbcc6;
  --accent-01:#151111;
  --accent-02:#000000;
  --accent-03:#ccd4d7;
  --accent-04:#dadfe0;
}

nav{
  background-color: var(--accent-03);
  box-shadow: 3px 1px 5px var(--primary-color);
  position: sticky;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--accent-02);
  transition: color .5s;
}

nav a:hover{
  color: var(--primary-color);
}

nav li:first-child{
  margin-right: auto;
  font-weight: 600;
  font-size: 1.5rem;
}

nav li:first-child a{
  color: var(--primary-color);
}

/*sidebar */

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--accent-03);
  box-shadow: 1px 0px 10px var(--primary-color);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-btn{
  display: none;
}

/*=======media query===== */

/*====mobile===== */
@media(max-width: 800px){
  .hidOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }
}

@media(max-width: 400px){
  .sidebar{
    width: 50%;
  }
}
